/* Reset some default styles in browsers */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and image to the body with an overlay */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/images/technology-1283624_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
}

/* Header styles */
header {
    background: #35424a;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    margin-right: 20px;
}

/* Navigation styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.navbar li a:hover {
    background-color: #2980b9;
}

/* Main content styles */
#main {
    padding: 2rem;
    text-align: center;
}

/* Sections styles */
#skills, #projects, #experience, #contact {
    padding: 2rem;
    text-align: center;
}

/* Remove bullet points from the list in Skills section */
#skills ul {
    list-style-type: none;
    padding-left: 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #35424a;
    color: #ffffff;
}

/* General link styles */
a {
    color: #3498db;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: #3498db;
    color: #ffffff;
    border-radius: 3px;
}
